.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 320px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    left: 0%;
    top: 50%;
    transform: translate(0%, 50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
  }

  .balloons-containers{
    display: flex;
    flex-direction: column;
    gap:5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .balloons{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
  }

  .textArea{
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    margin-top: 20%;
  }

  .inputField{
    width: 200px;
    height: 40px;
  }

  .shootBtn{
    width: 100px;
    height: 40px;
    margin: 40px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  .shootBtn:hover{
    cursor: pointer;
  }

  .boxBalloon:hover{
    cursor: pointer;
  }